block content

  .homepage-section
    h3.homepage-title
      span.underline-hover Calendar View

    main.main-area
      div#calendar
        img(src="/img/loading.gif").loading-gif

  script(src='/calendar-packages/core/main.js')
  script(src='/calendar-packages/interaction/main.js')
  script(src='/calendar-packages/daygrid/main.js')
  script(src='/calendar-packages/timegrid/main.js')
  script(src='/js/calendar.js')