extends ../layout
block content

  .homepage-section
    h3.homepage-title
      span.underline-hover All Public Notices

    form.form-inline.search-bar.active-cyan-4
      i.fas.fa-search(aria-hidden="true")
      input.form-control.form-control-sm.ml-3.w-75(type="text",placeholder="Search",aria-label="Search")#public-notice-search
    br

    main.main-area
    .centered
      section.row.cards
        for n in notices
          - var assigned_id = n.assigned_id
          - var testimony_time = n.testimony_time
          - var url = n.url
          - var title = n.title
          - var location_name = n.location_name
          - var location_room = n.location_room
          - var location_street = n.location_street
          - var canceled = n.canceled
          - var notice_date = n.notice_date
          - var notice_time = n.notice_time
          - var field_drawer = n.field_drawer
          - var notice_body = n.body
          - var posted = n.posted
          - var ics = n.ics
          - var is_archived = n.is_archived
          - var topics = n.topics
          - var live_comments = n.live_comments
          if (is_archived)
            include notice

    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    h3.homepage-title
      span.underline-hover Archived Public Notices

    main.main-area
    .centered
      section.row.cards
        for n in notices
          - var assigned_id = n.assigned_id
          - var testimony_time = n.testimony_time
          - var url = n.url
          - var title = n.title
          - var location_name = n.location_name
          - var location_room = n.location_room
          - var location_street = n.location_street
          - var canceled = n.canceled
          - var notice_date = n.notice_date
          - var notice_time = n.notice_time
          - var field_drawer = n.field_drawer
          - var notice_body = n.body
          - var posted = n.posted
          - var ics = n.ics
          - var is_archived = n.is_archived
          - var topics = n.topics
          - var live_comments = n.live_comments
          if (!is_archived)
            include notice

