extends ../layout

block content
  .homepage-section
    h3.homepage-title
      span.underline-hover Issues I'm Following

    if (!meetings)
        div.generic-text Looks like you haven't followed any issues yet - check out all of the 
            a.underline-hover(href="/meetings/public-notices") Public Notices
            | to get started!
    else
        for n in meetings
              - var assigned_id = n.assigned_id
              - var testimony_time = n.testimony_time
              - var url = n.url
              - var title = n.title
              - var location_name = n.location_name
              - var location_room = n.location_room
              - var location_street = n.location_street
              - var canceled = n.canceled
              - var notice_date = n.notice_date
              - var notice_time = n.notice_time
              - var field_drawer = n.field_drawer
              - var notice_body = n.body
              - var posted = n.posted
              - var ics = n.ics
              - var unfollow = true
              - var topics = n.topics
              - var live_comments = n.live_comments
              include ../meetings/notice