a(href="/") 
  svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='100%', height='auto', viewBox='0 0 346 128', enable-background='new 0 0 346 128', xml:space='preserve')
    g
      rect(x='3.535', y='50.299', fill='none', width='376.465', height='82.363')
      path(fill='none', stroke='#000000', stroke-width='2', stroke-miterlimit='10', d='M37.728,94.456H18.722l-3.817,11.287H4.365\
      l17.76-48.883H34.74L52.5,105.743H41.711L37.728,94.456z M21.544,86.156h13.279l-2.573-7.303\
      c-2.822-7.967-3.817-13.611-3.817-13.611h-0.332c0,0-1.245,5.726-3.984,13.528L21.544,86.156z')
      path(fill='none', stroke='#000000', stroke-width='2', stroke-miterlimit='10', d='M63.376,93.875\
      c0.747,4.232,3.818,5.893,7.718,5.893c3.569,0,6.059-1.245,6.059-3.9c0-2.49-1.494-3.734-5.229-4.73l-5.644-1.328\
      c-6.805-1.66-9.793-5.395-9.793-11.204c0-9.295,7.552-12.117,15.271-12.117c8.714,0,14.026,3.154,14.69,10.624l-9.378,1.327\
      c-0.332-3.319-2.241-4.564-5.81-4.564c-3.154,0-5.146,1.411-5.146,3.817c0,2.158,1.162,3.486,4.233,4.066l5.395,1.246\
      c7.469,1.659,11.121,5.477,11.121,12.033c0,8.465-6.805,11.702-15.852,11.702c-9.212,0-14.606-2.656-15.935-9.793L63.376,93.875z')
      path(fill='none', stroke='#000000', stroke-width='2', stroke-miterlimit='10', d='M99.563,93.875\
      c0.747,4.232,3.818,5.893,7.718,5.893c3.569,0,6.059-1.245,6.059-3.9c0-2.49-1.494-3.734-5.229-4.73l-5.644-1.328\
      c-6.805-1.66-9.793-5.395-9.793-11.204c0-9.295,7.552-12.117,15.271-12.117c8.714,0,14.026,3.154,14.69,10.624l-9.378,1.327\
      c-0.332-3.319-2.241-4.564-5.81-4.564c-3.154,0-5.146,1.411-5.146,3.817c0,2.158,1.162,3.486,4.233,4.066l5.395,1.246\
      c7.469,1.659,11.121,5.477,11.121,12.033c0,8.465-6.806,11.702-15.852,11.702c-9.212,0-14.606-2.656-15.935-9.793L99.563,93.875z')
      path(fill='none', stroke='#000000', stroke-width='2', stroke-miterlimit='10', d='M154.341,93.543l8.465,2.739\
      c-1.826,7.718-8.631,10.457-16.101,10.457c-10.706,0-18.01-7.138-18.01-19.669c0-13.113,7.055-20.583,18.259-20.583\
      c10.54,0,15.852,7.054,15.852,16.764c0,1.826-0.166,3.652-0.581,5.146h-23.984c0.249,6.39,3.236,10.705,8.797,10.705\
      C150.44,99.104,153.013,97.776,154.341,93.543z M153.262,82.506c0.083-0.582,0.083-0.914,0.083-1.412\
      c0-4.066-2.407-7.137-6.806-7.137c-4.564,0-7.47,3.32-8.05,8.549H153.262z')
      path(fill='none', stroke='#000000', stroke-width='2', stroke-miterlimit='10', d='M215.26,66.488c6.309,0,11.121,3.485,11.121,11.868\
      v27.388h-9.877V82.008c0-4.398-1.492-7.138-5.559-7.138c-3.736,0-7.055,2.407-7.055,9.461v21.412h-9.959V82.008\
      c0-4.398-1.412-7.138-5.479-7.138c-3.734,0-7.137,2.489-7.137,9.461v21.412h-9.877V67.4h8.299l1.162,7.387\
      c2.076-5.81,6.309-8.299,11.869-8.299c5.062,0,9.211,2.158,10.207,8.382C204.969,69.061,209.783,66.488,215.26,66.488z')
      path(fill='none', stroke='#000000', stroke-width='2', stroke-miterlimit='10', d='M243.732,105.743h-6.807V50.304h9.877v24.317\
      c2.074-5.81,6.971-8.133,12.365-8.133c9.379,0,14.855,6.888,14.855,19.171c0,12.282-5.975,21.08-16.35,21.08\
      c-6.557,0-10.207-2.905-11.453-6.557L243.732,105.743z M246.803,90.307c0,6.889,4.314,9.212,7.967,9.212\
      c5.062,0,9.295-4.149,9.295-12.946c0-8.383-3.32-12.117-8.549-12.117c-4.564,0-8.713,3.485-8.713,9.71V90.307z')
      path(fill='none', stroke='#000000', stroke-width='2', stroke-miterlimit='10', d='M297.68,105.577\
      c-2.156,0.581-3.982,0.913-5.809,0.913c-5.312,0-10.043-2.573-10.043-9.295V50.304h9.877v44.152c0,2.407,1.494,3.402,3.486,3.402\
      c0.994,0,1.908-0.165,2.904-0.58L297.68,105.577z')
      path(fill='none', stroke='#000000', stroke-width='2', stroke-miterlimit='10', d='M315.691,86.074\
      c2.158,7.469,2.738,12.282,2.738,12.282h0.332c0,0,0.582-4.813,2.822-12.282l5.645-18.674h10.373l-14.771,41.662\
      c-4.234,11.702-9.379,13.943-16.932,13.943c-2.074,0-4.48-0.415-6.391-0.913l1.328-8.631c1.494,0.829,3.154,1.244,4.98,1.244\
      c3.734,0,5.893-1.742,7.717-6.805L299.342,67.4h10.789L315.691,86.074z')
    g
    g
      path(fill='#231F20', d='M110.831,33.014c-1.509-0.165-2.872,0.918-3.032,2.435c-0.164,1.507,0.923,2.866,2.43,3.023\
      c0.108,0.014,0.205,0.018,0.306,0.018c1.392,0,2.574-1.043,2.726-2.445C113.422,34.527,112.338,33.174,110.831,33.014z')
      path(fill='#231F20', d='M108.721,20.818c-0.199-1.502-1.58-2.559-3.087-2.362c-1.497,0.2-2.558,1.583-2.35,3.085\
      c0.179,1.386,1.354,2.387,2.718,2.387c0.117,0,0.232-0.004,0.367-0.023C107.869,23.704,108.927,22.327,108.721,20.818z')
      path(fill='#231F20', d='M107.745,13.364c0.008,1.516,1.237,2.741,2.745,2.741c0.008,0,0.008,0,0.018,0\
      c1.516-0.004,2.735-1.243,2.727-2.76c0-1.516-1.239-2.741-2.754-2.735C108.962,10.613,107.733,11.848,107.745,13.364z')
      path(fill='#231F20', d='M59.76,52.832c-1.525,0-2.754,1.231-2.754,2.749c0,1.517,1.229,2.746,2.754,2.746\
      c1.516,0,2.746-1.229,2.746-2.746C62.506,54.062,61.277,52.832,59.76,52.832z')
      path(fill='#231F20', d='M60.9,44.526c-1.489-0.253-2.907,0.76-3.159,2.25c-0.25,1.499,0.763,2.916,2.253,3.167\
      c0.153,0.027,0.305,0.045,0.457,0.045c1.32,0,2.486-0.956,2.709-2.297C63.412,46.192,62.398,44.775,60.9,44.526z')
      circle(stroke='#FFFFFF', stroke-width='1', stroke-miterlimit='10',fill='rgba(255,255,255,0.95)', cx='89.834', cy='55.58', r='2.748')
      path(fill='#231F20', d='M92.688,44.933c-1.38-0.626-3.006,0-3.633,1.381c-0.618,1.385,0.009,3.008,1.39,3.629\
      c0.367,0.167,0.745,0.247,1.122,0.247c1.05,0,2.056-0.609,2.512-1.632C94.698,47.18,94.069,45.55,92.688,44.933z')
      path(fill='#231F20', d='M94.644,38.669c-1.131,1.015-1.229,2.751-0.216,3.882c0.548,0.601,1.292,0.91,2.047,0.91\
      c0.656,0,1.309-0.233,1.829-0.697c1.129-1.015,1.23-2.754,0.216-3.885C97.505,37.753,95.774,37.66,94.644,38.669z')
      path(fill='#231F20', d='M102.567,33.956c-1.446,0.461-2.244,2.01-1.777,3.457c0.368,1.163,1.454,1.908,2.611,1.908\
      c0.277,0,0.564-0.04,0.843-0.13c1.444-0.468,2.243-2.009,1.776-3.455C105.555,34.29,104.01,33.493,102.567,33.956z')
      path(fill='#231F20', d='M82.315,52.832c-1.524,0-2.744,1.231-2.744,2.749c0,1.517,1.22,2.746,2.744,2.746\
      c1.518,0,2.747-1.229,2.747-2.746C85.062,54.062,83.833,52.832,82.315,52.832z')
      path(fill='#231F20', d='M84.397,44.703c-1.443-0.457-2.987,0.35-3.444,1.798c-0.448,1.452,0.35,2.988,1.794,3.443\
      c0.278,0.084,0.557,0.128,0.827,0.128c1.175,0,2.261-0.752,2.628-1.922l0,0C86.65,46.705,85.851,45.155,84.397,44.703z')
      path(fill='#231F20', d='M85.699,42.083c0.477,0.337,1.032,0.494,1.571,0.494c0.871,0,1.713-0.404,2.253-1.166\
      c0.869-1.241,0.564-2.956-0.674-3.827c-1.239-0.874-2.96-0.568-3.832,0.674C84.157,39.499,84.451,41.213,85.699,42.083z')
      path(fill='#231F20', d='M93.047,36.543c0.584,0,1.175-0.183,1.677-0.575c1.195-0.925,1.428-2.65,0.495-3.849\
      c-0.925-1.204-2.647-1.427-3.85-0.499c-1.202,0.92-1.426,2.648-0.502,3.849C91.405,36.171,92.222,36.543,93.047,36.543z')
      path(fill='#231F20', d='M100.943,32.222c0.305,0,0.628-0.053,0.942-0.163c1.425-0.527,2.152-2.101,1.632-3.522\
      c-0.521-1.431-2.1-2.162-3.519-1.636c-1.436,0.515-2.163,2.093-1.642,3.52C98.762,31.531,99.812,32.222,100.943,32.222z')
      path(fill='#231F20', d='M74.789,52.832c-1.515,0-2.735,1.231-2.735,2.749c0,1.517,1.22,2.746,2.735,2.746\
      c1.526,0,2.756-1.229,2.756-2.746C77.544,54.062,76.314,52.832,74.789,52.832z')
      path(fill='#231F20', d='M76.439,44.603c-1.48-0.357-2.96,0.551-3.319,2.025c-0.358,1.471,0.547,2.959,2.018,3.315\
      c0.214,0.052,0.432,0.081,0.654,0.081c1.229,0,2.36-0.844,2.665-2.099C78.817,46.448,77.912,44.966,76.439,44.603z')
      path(fill='#231F20', d='M81.168,40.711c0.7-1.346,0.179-3.007-1.167-3.703c-1.344-0.704-3.004-0.182-3.713,1.165\
      c-0.69,1.344-0.169,3.005,1.176,3.708c0.402,0.211,0.835,0.311,1.265,0.311C79.715,42.191,80.674,41.651,81.168,40.711z')
      path(fill='#231F20', d='M85.521,34.35c0.995-1.15,0.887-2.88-0.262-3.881c-1.139-0.996-2.88-0.883-3.875,0.257\
      c-0.997,1.14-0.88,2.88,0.259,3.881c0.52,0.457,1.167,0.677,1.804,0.677C84.219,35.283,84.973,34.968,85.521,34.35z')
      path(fill='#231F20', d='M91.917,25.362c-0.87-1.24-2.583-1.542-3.822-0.667c-1.248,0.876-1.543,2.584-0.673,3.828\
      c0.539,0.763,1.39,1.166,2.251,1.166c0.547,0,1.095-0.156,1.579-0.498C92.491,28.315,92.795,26.606,91.917,25.362z')
      path(fill='#231F20', d='M98.035,25.539c1.418-0.548,2.109-2.144,1.562-3.562c-0.556-1.412-2.153-2.104-3.562-1.557\
      c-1.418,0.556-2.117,2.148-1.561,3.561c0.431,1.085,1.472,1.75,2.557,1.75C97.372,25.731,97.713,25.673,98.035,25.539z')
      path(fill='#231F20', d='M117.676,21.356c0.161-1.512-0.933-2.865-2.45-3.02c-1.507-0.16-2.853,0.936-3.016,2.447\
      c-0.161,1.502,0.934,2.855,2.441,3.02c0.107,0.009,0.198,0.012,0.296,0.012C116.329,23.814,117.524,22.766,117.676,21.356z')
      path(fill='#231F20', d='M66.983,52.832c-1.516,0-2.745,1.231-2.745,2.749c0,1.517,1.229,2.746,2.745,2.746\
      c1.526,0,2.755-1.229,2.755-2.746C69.738,54.062,68.509,52.832,66.983,52.832z')
      path(fill='#231F20', d='M68.329,44.551c-1.489-0.289-2.934,0.677-3.23,2.167c0-0.005,0-0.005,0-0.005\
      c-0.288,1.494,0.673,2.94,2.162,3.23c0.18,0.036,0.367,0.054,0.538,0.054c1.283,0,2.441-0.905,2.691-2.216\
      C70.788,46.291,69.819,44.846,68.329,44.551z')
      path(fill='#231F20', d='M71.263,36.699c-1.4-0.582-3.006,0.081-3.589,1.485c0.01,0,0.01,0,0.01,0\
      c-0.583,1.405,0.081,3.005,1.48,3.588c0.349,0.144,0.709,0.211,1.049,0.211c1.085,0,2.108-0.637,2.549-1.698\
      C73.334,38.885,72.671,37.274,71.263,36.699z')
      path(fill='#231F20', d='M75.686,29.566c-1.257-0.846-2.97-0.506-3.805,0.758l0,0c-0.853,1.262-0.511,2.97,0.755,3.808\
      c0.466,0.311,1.006,0.468,1.524,0.468c0.888,0,1.758-0.435,2.288-1.229C77.284,32.115,76.951,30.405,75.686,29.566z')
      path(fill='#231F20', d='M77.525,27.319c0.54,0.535,1.239,0.798,1.939,0.798c0.708,0,1.409-0.263,1.948-0.811\
      c1.075-1.068,1.067-2.812-0.009-3.881c-1.068-1.068-2.817-1.068-3.876,0.009C76.448,24.511,76.448,26.248,77.525,27.319z')
      path(fill='#231F20', d='M83.644,21.578c0.53,0.785,1.399,1.211,2.279,1.211c0.529,0.005,1.067-0.147,1.534-0.462\
      c1.256-0.848,1.597-2.562,0.745-3.817c-0.844-1.261-2.557-1.592-3.814-0.744C83.133,18.608,82.801,20.322,83.644,21.578z')
      path(fill='#231F20', d='M90.76,17.133c0.439,1.049,1.453,1.689,2.53,1.689c0.359,0,0.708-0.065,1.067-0.22\
      c1.391-0.582,2.054-2.188,1.47-3.59c-0.582-1.402-2.197-2.063-3.598-1.479C90.83,14.123,90.176,15.732,90.76,17.133z')
      path(fill='#231F20', d='M98.601,14.167c0.27,1.295,1.408,2.203,2.692,2.203c0.18,0,0.359-0.018,0.548-0.059\
      c1.479-0.296,2.448-1.745,2.153-3.234c-0.305-1.485-1.75-2.449-3.238-2.155C99.265,11.229,98.304,12.673,98.601,14.167z')
      path(fill='#231F20', d='M61.626,41.715c0.296,0.109,0.603,0.154,0.907,0.154c1.13,0,2.19-0.709,2.584-1.844\
      c0.502-1.431-0.251-3-1.688-3.496c-1.436-0.501-2.997,0.256-3.499,1.688C59.428,39.652,60.191,41.218,61.626,41.715z')
      path(fill='#231F20', d='M64.615,33.879c0.414,0.228,0.87,0.338,1.318,0.338c0.97,0,1.911-0.515,2.414-1.421\
      c0.735-1.331,0.243-3-1.085-3.735c-1.328-0.732-2.996-0.242-3.733,1.081C62.802,31.474,63.278,33.144,64.615,33.879z')
      path(fill='#231F20', d='M68.877,26.648c0.501,0.397,1.104,0.595,1.705,0.595c0.807,0,1.605-0.358,2.152-1.04\
      c0.943-1.185,0.745-2.921-0.45-3.858c-1.183-0.943-2.914-0.746-3.858,0.443C67.486,23.979,67.683,25.704,68.877,26.648z')
      path(fill='#231F20', d='M76.314,21.143c0.654,0,1.318-0.233,1.839-0.704c1.13-1.018,1.22-2.754,0.207-3.886\
      c-1.023-1.125-2.754-1.215-3.886-0.2c-1.121,1.019-1.219,2.755-0.197,3.884C74.815,20.832,75.57,21.143,76.314,21.143z')
      path(fill='#231F20', d='M82.989,16.073c0.501,0,1.014-0.138,1.462-0.431c1.292-0.812,1.66-2.512,0.853-3.791\
      c-0.815-1.28-2.511-1.66-3.794-0.848c-1.282,0.82-1.661,2.516-0.844,3.794C81.187,15.626,82.083,16.073,82.989,16.073z')
      path(fill='#231F20', d='M90.401,12.188c0.358,0,0.717-0.072,1.066-0.214c1.399-0.584,2.054-2.199,1.464-3.599\
      c-0.585-1.394-2.199-2.053-3.599-1.461c-1.4,0.583-2.055,2.196-1.464,3.598C88.31,11.56,89.324,12.188,90.401,12.188z')
      path(fill='#231F20', d='M98.358,9.605c0.206,0,0.423-0.025,0.628-0.073c1.479-0.346,2.395-1.822,2.054-3.298\
      c-0.341-1.483-1.822-2.399-3.3-2.054c-1.481,0.341-2.396,1.825-2.046,3.302C95.981,8.752,97.111,9.605,98.358,9.605z')
      path(fill='#231F20', d='M106.648,8.389c0.063,0,0.118,0,0.171,0c1.516-0.099,2.664-1.404,2.575-2.917\
      c-0.099-1.516-1.399-2.663-2.917-2.57c-1.515,0.09-2.664,1.395-2.564,2.911C104.001,7.266,105.214,8.389,106.648,8.389z')
      path(fill='#231F20', d='M118.311,34.241c-1.444-0.457-2.996,0.338-3.454,1.781c-0.465,1.449,0.333,2.989,1.777,3.459\
      c0.277,0.084,0.564,0.127,0.845,0.127c1.156,0,2.233-0.743,2.609-1.909C120.555,36.256,119.757,34.704,118.311,34.241z')
      path(fill='#231F20', d='M110.713,25.385c-1.515-0.067-2.799,1.108-2.872,2.625c-0.062,1.522,1.112,2.799,2.63,2.867\
      c0.036,0,0.081,0,0.126,0c1.451,0,2.673-1.148,2.734-2.619C113.404,26.736,112.221,25.458,110.713,25.385z')
      path(fill='#231F20', d='M160.249,52.832c-1.516,0-2.746,1.231-2.746,2.749c0,1.517,1.23,2.746,2.746,2.746\
      c1.524,0,2.754-1.229,2.754-2.746C163.003,54.062,161.773,52.832,160.249,52.832z')
      path(fill='#231F20', d='M159.555,49.988c0.155,0,0.308-0.019,0.459-0.045c1.489-0.25,2.504-1.668,2.253-3.167\
      c-0.251-1.49-1.669-2.503-3.159-2.25c-1.5,0.249-2.512,1.665-2.259,3.165C157.072,49.033,158.239,49.988,159.555,49.988z')
      path(fill='#231F20', d='M113.772,8.389c0.054,0,0.109,0,0.17,0c1.437,0,2.647-1.123,2.728-2.575c0.098-1.515-1.05-2.82-2.565-2.91\
      c-1.518-0.093-2.818,1.054-2.908,2.57C111.099,6.984,112.247,8.289,113.772,8.389z')
      circle(stroke='#FFFFFF', stroke-width='1', stroke-miterlimit='10',fill='rgba(255,255,255,0.95)', cx='130.175', cy='55.58', r='2.748')
      path(fill='#231F20', d='M129.564,49.942c1.382-0.62,2.008-2.243,1.39-3.629c-0.627-1.381-2.251-2.008-3.633-1.381\
      c-1.381,0.618-2.01,2.247-1.391,3.625c0.46,1.021,1.462,1.632,2.513,1.632C128.82,50.189,129.194,50.11,129.564,49.942z')
      path(fill='#231F20', d='M125.365,38.669c-1.131-1.01-2.864-0.917-3.876,0.21c-1.014,1.13-0.915,2.87,0.214,3.885\
      c0.52,0.463,1.175,0.697,1.831,0.697c0.752,0,1.498-0.309,2.045-0.91C126.594,41.42,126.495,39.684,125.365,38.669z')
      path(fill='#231F20', d='M137.692,52.832c-1.517,0-2.746,1.231-2.746,2.749c0,1.517,1.229,2.746,2.746,2.746\
      c1.525,0,2.747-1.229,2.747-2.746C140.439,54.062,139.217,52.832,137.692,52.832z')
      path(fill='#231F20', d='M137.261,49.942c1.444-0.454,2.244-1.991,1.797-3.443c-0.459-1.449-2.002-2.255-3.449-1.797\
      c-1.453,0.452-2.249,2.002-1.802,3.446l0,0c0.369,1.17,1.455,1.922,2.63,1.922C136.707,50.072,136.982,50.028,137.261,49.942z')
      path(fill='#231F20', d='M132.74,42.577c0.538,0,1.094-0.158,1.569-0.494c1.248-0.87,1.542-2.585,0.682-3.825\
      c-0.871-1.243-2.593-1.548-3.831-0.674c-1.238,0.872-1.543,2.586-0.673,3.827C131.026,42.173,131.871,42.577,132.74,42.577z')
      path(fill='#231F20', d='M125.285,35.968c0.504,0.392,1.094,0.575,1.677,0.575c0.824,0,1.641-0.374,2.181-1.074\
      c0.924-1.201,0.699-2.93-0.502-3.849c-1.204-0.928-2.926-0.704-3.851,0.499C123.856,33.318,124.089,35.044,125.285,35.968z')
      path(fill='#231F20', d='M120.295,26.899c-1.419-0.526-2.998,0.205-3.518,1.636c-0.519,1.421,0.207,2.995,1.644,3.521\
      c0.303,0.111,0.628,0.164,0.94,0.164c1.121,0,2.172-0.691,2.575-1.802C122.457,28.994,121.73,27.416,120.295,26.899z')
      path(fill='#231F20', d='M145.219,52.832c-1.524,0-2.754,1.231-2.754,2.749c0,1.517,1.23,2.746,2.754,2.746\
      c1.509,0,2.737-1.229,2.737-2.746C147.958,54.062,146.728,52.832,145.219,52.832z')
      path(fill='#231F20', d='M144.871,49.942c1.471-0.355,2.375-1.843,2.018-3.315c-0.358-1.475-1.84-2.383-3.32-2.025\
      c-1.471,0.362-2.376,1.845-2.018,3.321c0.306,1.255,1.437,2.099,2.667,2.099C144.439,50.024,144.653,49.996,144.871,49.942z')
      path(fill='#231F20', d='M143.72,38.173c-0.707-1.347-2.369-1.87-3.713-1.165c-1.346,0.696-1.868,2.357-1.166,3.703\
      c0.492,0.94,1.455,1.48,2.441,1.48c0.429,0,0.858-0.1,1.262-0.311C143.891,41.178,144.414,39.517,143.72,38.173z')
      path(fill='#231F20', d='M138.366,34.605c1.14-1,1.256-2.741,0.259-3.881c-0.995-1.14-2.736-1.252-3.876-0.257\
      c-1.138,1.001-1.254,2.732-0.259,3.881c0.546,0.619,1.299,0.933,2.072,0.933C137.199,35.283,137.846,35.062,138.366,34.605z')
      path(fill='#231F20', d='M132.587,28.522c0.871-1.243,0.574-2.952-0.675-3.828c-1.237-0.875-2.952-0.573-3.82,0.667\
      c-0.88,1.244-0.573,2.954,0.664,3.828c0.485,0.341,1.031,0.497,1.579,0.497C131.197,29.688,132.049,29.285,132.587,28.522z')
      path(fill='#231F20', d='M125.535,23.981c0.556-1.413-0.142-3.005-1.562-3.56c-1.409-0.547-3.003,0.144-3.562,1.556\
      c-0.547,1.419,0.144,3.014,1.561,3.562c0.325,0.135,0.666,0.193,1.007,0.193C124.063,25.731,125.104,25.066,125.535,23.981z')
      path(fill='#231F20', d='M153.025,52.832c-1.525,0-2.754,1.231-2.754,2.749c0,1.517,1.229,2.746,2.754,2.746\
      c1.516,0,2.743-1.229,2.743-2.746C155.768,54.062,154.542,52.832,153.025,52.832z')
      path(fill='#231F20', d='M152.208,49.996c0.17,0,0.361-0.018,0.539-0.054c1.488-0.291,2.45-1.738,2.154-3.23c0,0,0,0,0,0.005\
      c-0.288-1.49-1.732-2.456-3.223-2.167c-1.489,0.295-2.459,1.74-2.16,3.229C149.77,49.091,150.926,49.996,152.208,49.996z')
      path(fill='#231F20', d='M150.846,41.772c1.398-0.583,2.062-2.184,1.479-3.588c0,0,0,0,0.01,0c-0.582-1.404-2.19-2.066-3.588-1.485\
      c-1.41,0.575-2.076,2.187-1.501,3.586c0.44,1.062,1.464,1.699,2.55,1.699C150.137,41.985,150.494,41.916,150.846,41.772z')
      path(fill='#231F20', d='M144.323,29.566c-1.265,0.838-1.599,2.548-0.763,3.805c0.528,0.793,1.401,1.229,2.289,1.229\
      c0.519,0,1.057-0.157,1.525-0.468c1.261-0.837,1.603-2.546,0.752-3.808l0,0C147.292,29.061,145.578,28.721,144.323,29.566z')
      path(fill='#231F20', d='M138.599,27.307c0.538,0.547,1.238,0.811,1.947,0.811c0.701,0,1.398-0.263,1.937-0.798\
      c1.077-1.071,1.077-2.808,0-3.884c-1.059-1.077-2.81-1.077-3.877-0.009C137.53,24.494,137.521,26.239,138.599,27.307z')
      path(fill='#231F20', d='M131.806,18.509c-0.852,1.255-0.51,2.969,0.745,3.817c0.468,0.315,1.006,0.468,1.535,0.462\
      c0.879,0,1.749-0.426,2.279-1.211c0.842-1.256,0.51-2.971-0.744-3.813C134.363,16.917,132.65,17.249,131.806,18.509z')
      path(fill='#231F20', d='M125.651,18.603c0.352,0.155,0.708,0.22,1.067,0.22c1.079,0,2.09-0.64,2.531-1.689\
      c0.582-1.401-0.071-3.011-1.472-3.599c-1.398-0.583-3.014,0.076-3.597,1.479C123.597,16.415,124.261,18.021,125.651,18.603z')
      path(fill='#231F20', d='M118.169,16.312c0.188,0.041,0.366,0.059,0.546,0.059c1.283,0,2.421-0.907,2.691-2.203\
      c0.295-1.493-0.663-2.937-2.151-3.244c-1.493-0.295-2.936,0.669-3.239,2.154C115.721,14.565,116.688,16.014,118.169,16.312z')
      path(fill='#231F20', d='M154.891,40.025c0.396,1.134,1.454,1.843,2.583,1.843c0.308,0,0.611-0.045,0.907-0.154\
      c1.437-0.497,2.198-2.062,1.695-3.498c-0.502-1.43-2.062-2.189-3.498-1.687C155.141,37.023,154.388,38.593,154.891,40.025z')
      path(fill='#231F20', d='M151.661,32.796c0.502,0.907,1.445,1.421,2.414,1.421c0.449,0,0.908-0.111,1.32-0.338\
      c1.335-0.736,1.812-2.405,1.086-3.738c-0.737-1.322-2.406-1.812-3.733-1.081C151.419,29.796,150.926,31.465,151.661,32.796z')
      path(fill='#231F20', d='M149.429,27.243c0.6,0,1.2-0.197,1.702-0.595c1.195-0.944,1.392-2.669,0.45-3.858\
      c-0.942-1.19-2.673-1.386-3.857-0.443c-1.194,0.937-1.392,2.673-0.449,3.857C147.822,26.885,148.62,27.243,149.429,27.243z')
      path(fill='#231F20', d='M141.856,20.438c0.52,0.471,1.185,0.704,1.839,0.704c0.746,0,1.497-0.31,2.035-0.904\
      c1.024-1.13,0.924-2.866-0.199-3.884c-1.128-1.016-2.861-0.925-3.884,0.2C140.636,17.683,140.724,19.419,141.856,20.438z')
      path(fill='#231F20', d='M135.557,15.642c0.448,0.292,0.958,0.431,1.461,0.431c0.906,0,1.804-0.448,2.324-1.275\
      c0.817-1.278,0.439-2.974-0.843-3.794c-1.281-0.812-2.978-0.431-3.793,0.848C133.897,13.13,134.265,14.83,135.557,15.642z')
      path(fill='#231F20', d='M128.542,11.974c0.35,0.142,0.708,0.215,1.066,0.215c1.076,0,2.091-0.628,2.531-1.677\
      c0.592-1.4-0.065-3.014-1.464-3.598c-1.398-0.591-3.013,0.067-3.597,1.461C126.486,9.774,127.141,11.391,128.542,11.974z')
      path(fill='#231F20', d='M121.021,9.533c0.206,0.048,0.422,0.073,0.628,0.073c1.248,0,2.378-0.854,2.666-2.122\
      c0.349-1.478-0.565-2.96-2.046-3.301c-1.479-0.346-2.96,0.57-3.302,2.054C118.626,7.712,119.542,9.187,121.021,9.533z')
    g
    g
    g
    g
    g
    g
