extends layout

block content
  h1 Assembly
  p.lead a modern way to stay in-the-loop with your local Boston government
  hr

  include meetings/live-meetings-partial
  
  include meetings/open-comments-partial

  include meetings/notices-partial

  //.offset-md-3.col-md-7.pl-2
        //a.btn.btn-block(href='/meetings/public-notices')
          //| Public Notices