@import "themes/default/variables";

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@ladjs/bootstrap-social/bootstrap-social.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";

@import "themes/default/default";

@font-face {
  font-family: "National-Regular";
  src: url("/fonts/National-Regular.otf");
}

@font-face {
  font-family: "National-Book";
  src: url("/fonts/National-Book.otf");
}

@font-face {
  font-family: "National-Medium";
  src: url("/fonts/National-Medium.otf");
}

@font-face {
  font-family: "National-Semibold";
  src: url("/fonts/National-Semibold.otf");
}

@font-face {
  font-family: "National-Bold";
  src: url("/fonts/National-Bold.otf");
}

@font-face {
  font-family: "National-Regular-Italic";
  src: url("/fonts/National-RegularItalic.otf");
}
@font-face {
  font-family: "National-Book-Italic";
  src: url("/fonts/National-BookItalic.otf");
}
@font-face {
  font-family: "National-Medium-Italic";
  src: url("/fonts/National-MediumItalic.otf");
}
@font-face {
  font-family: "National-Semibold-Italic";
  src: url("/fonts/National-SemiboldItalic.otf");
}
@font-face {
  font-family: "National-Bold-Italic";
  src: url("/fonts/National-BoldItalic.otf");
}
@font-face {
  font-family: "CrimsonText-Bold.ttf";
  src: url("/fonts/CrimsonText-Bold.ttf");
}
@font-face {
  font-family: "CrimsonText-BoldItalic.ttf";
  src: url("/fonts/CrimsonText-BoldItalic.ttf");
}
@font-face {
  font-family: "CrimsonText-Italic.ttf";
  src: url("/fonts/CrimsonText-Italic.ttf");
}
@font-face {
  font-family: "CrimsonText-Regular.ttf";
  src: url("/fonts/CrimsonText-Regular.ttf");
}
@font-face {
  font-family: "CrimsonText-SemiBold.ttf";
  src: url("/fonts/CrimsonText-SemiBold.ttf");
}
@font-face {
  font-family: "CrimsonText-SemiBoldItalic.ttf";
  src: url("/fonts/CrimsonText-SemiBoldItalic.ttf");
}


// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 80px;
  margin-bottom: 75px;
  font-size: 14px;
  font-family: "National-Regular";
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  min-height: 30px;
  margin: -15px 15px -15px;
}

.navbar{
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  display: block;
}

.navbar-brand{
  font-size: 18px;
  float: left;
}

.navbar-toggler {
  position: relative;
  float: right;
  margin-bottom: 8px;
  margin-top: 8px;
}

.navbar-toggler-icon {
  font-size: 16px;
}

.dropdown-menu {
  left: initial;
  right: 0;
}

li.divider {
    height: 3px;
    background-color: #f2f2f2;
}

/*
* Solves Bootstrap 4 issue
* https://github.com/twbs/bootstrap/issues/25654
*/
/* Styles in sm disposition and up */
@media (min-width: 576px) and (max-width: 767px) {
  /* Solves bs4 bug */
  .navbar-expand-md > .container,
  .navbar-expand-lg > .container,
  .navbar-expand-xl > .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

/* Styles in md disposition and up */
@media (min-width: 768px) and (max-width: 991px) {
  /* Solves bs4 bug */
  .navbar-expand-lg > .container,
  .navbar-expand-xl > .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

/* Styles in lg disposition and up */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Solves bs4 bug */
  .navbar-expand-xl > .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

// Alerts
// -------------------------
.alert {
    margin-top: 7vh;
    position:fixed; 
    top: 0px; 
    left: 10%; 
    width: 80%;
    z-index:9999; 
    border-radius:0px
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

.fab {
  margin-right: 6px;
}

.fas {
  margin-right: 6px;
}

.far {
  margin-right: 6px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "National-Bold";
}




// -----------------------------------------------------------------------------------------------------------------------------
// Public Notices
// -----------------------------------------------------------------------------------------------------------------------------


.homepage-section {
  text-transform: none;
  font-family: "National-Regular";
  margin-bottom: 8vh;
  margin-top: 3vh;
}

.homepage-title {
  font-family: "National-Bold";
  margin-bottom: 5vh;
}

.blink {
  animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
  font-size: 0.6em;
}
@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}


.underline-hover {
    border-bottom: 3px solid #b4e7f8;
    -webkit-box-shadow: inset 0 -4px 0 #b4e7f8;
    background-color: transparent;
    color: inherit;
    text-decoration: none;
    -webkit-transition: background .15s cubic-bezier(0.33, 0.66, 0.66, 1);
    -o-transition: background .15s cubic-bezier(0.33, 0.66, 0.66, 1);
    transition: background .15s cubic-bezier(0.33, 0.66, 0.66, 1);
    box-shadow: inset 0 -4px 0 #b4e7f8;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
}


// -----------------------------------------------------------------------------------------------------------------------------
// Public Notices
// -----------------------------------------------------------------------------------------------------------------------------

.search-bar {
  margin: 0 auto;
  padding: 3vh 0vh;
  justify-content: center;
}

.button-group {
  margin-left: 15px;
  float: right;
}

.button-group-left {
  margin-right: 10px;
  float: left;
}

.button-group:hover, .button-group-left:hover {
  text-decoration: none;
  color: #d33682;
}

.card {
    background: white;
    margin-bottom: 2em; 
}

.card:hover {
  box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}

.card-content  {
    color: black;
    text-decoration: none !important;
    padding: 1.4em;
}

a:hover {
    text-decoration: none !important;
}

div.card-content:hover, 
a>.card-content:hover,
a>.card-content>.card-dateplace:hover {
    opacity: 0.9;
}

.card-content h2 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: bold;
}

.card-content p {
    font-size: 80%;
}

/* Flexbox stuff */

.cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: left;
}

.card {
    min-height: 300px;
}








/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float:left;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input.default:checked + .slider {
  background-color: #444;
}
input.primary:checked + .slider {
  background-color: #2196F3;
}
input.success:checked + .slider {
  background-color: #8bc34a;
}
input.info:checked + .slider {
  background-color: #3de0f5;
}
input.warning:checked + .slider {
  background-color: #FFC107;
}
input.danger:checked + .slider {
  background-color: #f44336;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}





// -----------------------------------------------------------------------------------------------------------------------------
// Expanded Meeting
// -----------------------------------------------------------------------------------------------------------------------------

.paper {
  font-family: "CrimsonText-Regular";
  font-size: 1.3em;
  background: #fff;
  box-shadow:
    /* The top layer shadow */
    0px 0px 15px 3px rgba(0,0,0,0.15),
    /* The second layer */
    0 10px 0 -5px #eee,
    /* The second layer shadow */
    0 10px 1px -4px rgba(0,0,0,0.15),
     /* The third layer */
    0 20px 0 -10px #eee,
    /* The third layer shadow */
    0 20px 1px -9px rgba(0,0,0,0.15);
    padding: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}


.meeting-toolbar {
  border-left: 2px solid #f2f2f2;
  padding-left: 20px;
}
.meeting-toolbar > .button-group {
  float: none !important;
  font-size: 1.5em;
  display: block;
}
.meeting-toolbar > .button-group > span {
  margin-left: 10px;
  color: black;
}

.meeting-toolbar > .button-group > span:hover {
  margin-left: 10px;
  color: #d33682;
}

.meeting-metadata {
  font-size: 1.5em;
  font-family: "National-Regular-Italic";
}

.metadata-header {
  font-size: 0.8em;
  color: gray;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.bold {
  font-family: "National-Bold";
}

.bolditalic {
  font-family: "National-Bold-Italic";
}

.hashtag {
  display: inline-block;
  margin-right: 10px;
  font-size: 1.3em;
  color: #007bff;
  margin-bottom: 20px;
}

// -----------------------------------------------------------------------------------------------------------------------------
// Generic
// -----------------------------------------------------------------------------------------------------------------------------

.generic-text {
  font-size: 1.5em;
  font-family: "National-Regular-Italic";
}

div.generic-text>a.underline-hover {
  color: #007bff;
  border-bottom: 3px solid #007bff;
  -webkit-box-shadow: inset 0 -4px 0 #007bff;
  box-shadow: inset 0 -4px 0 #007bff;
  opacity: 0.7;
  margin-right: 5px;
}


div.generic-text>a.underline-hover:hover {
  opacity: 1;
}


button.btn.btn-outline-primary {
  border-radius: 5px;
  margin-right: 10px;
}
