@import "themes/default/variables";

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@ladjs/bootstrap-social/bootstrap-social.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";

@import "themes/default/default";

@font-face {
  font-family: "National-Regular";
  src: url("/fonts/National-Regular.otf");
}

@font-face {
  font-family: "National-Book";
  src: url("/fonts/National-Book.otf");
}

@font-face {
  font-family: "National-Medium";
  src: url("/fonts/National-Medium.otf");
}

@font-face {
  font-family: "National-Semibold";
  src: url("/fonts/National-Semibold.otf");
}

@font-face {
  font-family: "National-Bold";
  src: url("/fonts/National-Bold.otf");
}

@font-face {
  font-family: "National-Regular-Italic";
  src: url("/fonts/National-RegularItalic.otf");
}
@font-face {
  font-family: "National-Book-Italic";
  src: url("/fonts/National-BookItalic.otf");
}
@font-face {
  font-family: "National-Medium-Italic";
  src: url("/fonts/National-MediumItalic.otf");
}
@font-face {
  font-family: "National-Semibold-Italic";
  src: url("/fonts/National-SemiboldItalic.otf");
}
@font-face {
  font-family: "National-Bold-Italic";
  src: url("/fonts/National-BoldItalic.otf");
}



// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 80px;
  margin-bottom: 75px;
  font-size: 14px;
  font-family: "National-Regular";
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  min-height: 30px;
  margin: -15px 15px -15px;
}

.navbar{
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  display: block;
}

.navbar-brand{
  font-size: 18px;
  float: left;
}

.navbar-toggler {
  position: relative;
  float: right;
  margin-bottom: 8px;
  margin-top: 8px;
}

.navbar-toggler-icon {
  font-size: 16px;
}

.dropdown-menu {
  left: initial;
  right: 0;
}

/*
* Solves Bootstrap 4 issue
* https://github.com/twbs/bootstrap/issues/25654
*/
/* Styles in sm disposition and up */
@media (min-width: 576px) and (max-width: 767px) {
  /* Solves bs4 bug */
  .navbar-expand-md > .container,
  .navbar-expand-lg > .container,
  .navbar-expand-xl > .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

/* Styles in md disposition and up */
@media (min-width: 768px) and (max-width: 991px) {
  /* Solves bs4 bug */
  .navbar-expand-lg > .container,
  .navbar-expand-xl > .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

/* Styles in lg disposition and up */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Solves bs4 bug */
  .navbar-expand-xl > .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

.fab {
  margin-right: 6px;
}

.fas {
  margin-right: 6px;
}

.far {
  margin-right: 6px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "National-Bold";
}




// -----------------------------------------------------------------------------------------------------------------------------
// Public Notices
// -----------------------------------------------------------------------------------------------------------------------------


.homepage-section {
  text-transform: none;
  font-family: "National-Regular";
  margin-bottom: 10vh;
}

.homepage-title {
  font-family: "National-Bold";
}

.blink {
  animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
  font-size: 0.6em;
}
@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}


.underline-hover {
    border-bottom: 3px solid #b4e7f8;
    -webkit-box-shadow: inset 0 -4px 0 #b4e7f8;background-color: transparent;
    color: inherit;
    text-decoration: none;
    -webkit-transition: background .15s cubic-bezier(0.33, 0.66, 0.66, 1);
    -o-transition: background .15s cubic-bezier(0.33, 0.66, 0.66, 1);
    transition: background .15s cubic-bezier(0.33, 0.66, 0.66, 1);
    box-shadow: inset 0 -4px 0 #b4e7f8;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
}


// -----------------------------------------------------------------------------------------------------------------------------
// Public Notices
// -----------------------------------------------------------------------------------------------------------------------------

.search-bar {
  margin: 0 auto;
  padding: 3vh 0vh;
  justify-content: center;
}

.button-group {
  margin-left: 10px;
  float: right;
}

.button-group:hover {
  text-decoration: none;
  color: #d33682;
}

.card {
    background: white;
    margin-bottom: 2em; 
}

.card:hover {
  box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}

.card-content  {
    color: black;
    text-decoration: none;
    padding: 1.4em;
}

.card-content:hover, a>.card-content:hover {
    color: black;
    text-decoration: none;
}

.card-content h2 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: bold;
}

.card-content p {
    font-size: 80%;
}

/* Flexbox stuff */

.cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.card {
    flex: 0 1 calc(25% - 1em);
}
